span.contact-info-span {
    font-weight: 700;
    font-size: 15px;
}
.contact-details-span img{
    width: 2rem;
}
.contacts-container {
    display: flex;
    align-items: center;
}
span.gradpic-container img {
    width: 20rem;
}
span.workwithme-span {
    font-size: 4rem;
    color: #F91E56;
    font-weight: bold;
    width: max-content;
    white-space: nowrap;
}
.contacts-container {
    display: flex;
    align-items: center;
    gap: 2rem;
}
span.contact-info-span {
    font-weight: 700;
    font-size: 15px;
    display: flex;
    column-gap: 1rem;
    row-gap: 1rem;
    padding: 1rem 0px;
    align-items: center;
}