.project-image-container img {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    resize: auto;
}
.project-container {
    width: max-content;
    background-color: #e4e4e4;
    padding: 20px;
    border-radius: 1rem;
}
.project-details-container {
    text-align: center;
    padding: 10px;
    width: 14rem;
    margin: 0px auto;
}
.projects-loop {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem 0px;
    height: 26rem;
    overflow-x: hidden;
    overflow-y: auto;
}
.project-links-container {
    display: flex;
    justify-content: space-around;
}
span.demo-link {
    background-color: #F91E56;
    padding: 5px 20px;
    border-radius: .5rem;
}
span.demo-link, span.code-link {
    background-color: #F91E56;
    padding: 5px 20px;
    border-radius: .5rem;
    color: white;
}
.modal-header {
    display: flex;
    justify-content: space-between;
    background: white;
    padding: 10px;
    align-items: center;
}